.sidebar {
  background: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu-bars {
  margin-left: 1rem;
  font-size: 1rem;
  background: none;
}

.nav-menu {
  /* background-image: linear-gradient(to right, black, rgb(61, 61, 61)); */
  background-color: rgb(37, 44, 54);
  width: 250px;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 100;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.541),
    rgb(37, 44, 54)
  );
  text-decoration: none;
  color: white;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  /* background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgb(61, 61, 61, 0.7)
  ); */
  background-color: rgb(37, 44, 54);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}
