@import url(https://fonts.google.com/specimen/Raleway?preview.text_type=custom#glyphs);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  color: white;
}

.loginform,
.profile,
.registerform,
.widgetbar,
.carousel {
  margin-top: 50px;
}
.text {
  margin-top: 50px;
}
#start-watching,
#start-watching1 {
  width: 10rem;
  height: 4rem;
  font-size: 1.2rem;
  border-color: white;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
  color: white;
}

#start-watching:hover,
#start-watching1:hover {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgb(61, 61, 61, 0.5)
  );
  color: white;
  border-color: white;
  border-radius: 10px;
}
/* #start-watching1 {
  position: absolute;

  width: 10rem;
  height: 4rem;
  font-size: 1.2rem;
  border-color: white;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
} */

/* #start-watching1:hover {
  border: 5px black;
  background-image: linear-gradient(
    to bottom,
    rgb(94, 94, 94),
    rgb(61, 61, 61)
  );
  color: black;
  border-color: black;
} */
.text1,
.text2 {
  margin-top: 50px;
}
#bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  margin: 0px;
  top: 0;
  opacity: 0.5;
  background-color: black;
}
.navbar-mine {
  position: sticky !important;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgb(61, 61, 61, 0.7)
  );

  color: white;
  width: 100vw;
  margin-bottom: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 100;
}
.navbar-brand,
.nav-link {
  color: white;
}
.welcome {
  display: flex;
  width: 150px;
}

.navbar-brand:hover,
.nav-link:hover {
  color: rgb(185, 185, 185);
}

.navbar-nav {
  margin-right: 20px;
}
#movies-main-wrapper {
  width: auto;
  height: auto;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgb(61, 61, 61, 0.7)
  );

  border-radius: 20px;
  padding: 0px 50px 40px 50px;
  margin: auto;
  color: aliceblue;
  margin-top: 10px;
}
#home-main-wrapper {
  width: auto;
  height: 450px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgb(61, 61, 61, 0.7)
  );

  border-radius: 20px;
  padding: 0px 50px 40px 50px;
  margin: auto;
  color: aliceblue;
  margin-top: 10px;
}
.input {
  background: rgba(0, 0, 0, 0.2) !important;
  color: aliceblue !important;
}
.choose {
  background: rgba(0, 0, 0, 0.2) !important;
  color: aliceblue !important;
  height: 45px !important;
}
option {
  background: #282c34 !important;
  color: aliceblue !important;
}
#tsparticles {
  width: 100vw;
  height: 170vh;
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tsparticles1 {
  width: 100vw;
  height: 210vh;
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tsparticles2 {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
